{{- /*
  layouts/index.html
  Homepage shell.
*/ -}}

{{ define "head_extra" }}
  <link rel="stylesheet" href="{{ "css/homepage.css" | relURL }}">
{{ end }}

{{ define "main" }}
    {{ partial "article-render.html" (dict
    "pages"     site.RegularPages
    "layout"    "grid"
    "hero"      true
    "heading"   (printf "Ultimele articole")
    "limit"     4
  ) }}
  {{ partial "uccs-intro.html"}}
  <section class="team">
    {{ partial "team.html" . }}
  </section>
  <section class="upcoming">
    {{ $upcoming := site.Data.posts.upcoming }}
    {{ if $upcoming }}
    {{ range ($upcoming | first 5) }}
    {{ partial "upcoming-posts.html" . }}
    {{ end }}
    {{ end }}
  </section>
  {{ partial "sections-explore.html" . }}
  {{ .Content }}
{{ end }}